<div class="xcard text-center" [@flyInOut]="'in'">
  <div class="xcard-header">
      <h3>{{ user.firstName }}</h3>
      <h5>{{ user.lastName }}</h5>
  </div>
  <div class="xcard-img">
      <img class="circle-img" src="../../../assets/img/user.JPG" alt="">
  </div>
  <div class="xcard-body">
      <p> {{ user.slogan }} </p>
  </div>
  <hr class="xcard-divider">
  <div class="xcard-footer">
      <a *ngFor="let contact of user.contacts"  [href]="sanitize(contact.link)" target="_blank" role="button" [title]="contact.title" class="xbtn btn-outline-secondary btn-sm"><i [ngClass]="contact.icon"></i></a>
  </div>
</div>
